.gradle
.idea
out
src
gradle
.gitignore
.gitlab-ci.yml
.travis.yml
bitbucket-pipelines.yml
build.gradle
gradle.properties
gradlew*
LICENSE
README.adoc
settings.gradle
*.iml
*.ipr
*.iws
*.db
.DS_Store
